

.wrapper{
    width: 100%;
    display: flex;
    min-width: 900px;
    min-height: 100vh;
    position: relative;
    align-items: center;
    height: max-content;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;

    nav {
        width: 100%;
        height: 60px;
        display: flex;
        padding: 5px 20px;
        align-items: center;
        justify-content: flex-end;

        button {
            border: 0;
            height: 40px;
            color: #fff;
            margin: 0 15px;
            font-size: 18px;
            cursor: pointer;
            background: #333;
            padding: 10px 14px;
            border-radius: 5px;

            &.add-emp {
                background: green;
                border-radius: 5px;
            }
    
            &:hover {
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}

// imputs

.input-wrap {
    position: relative;
    display: flex;
    margin: 10px 0;
    align-items: center;
    // width: 100%;
    label span {
        margin-right: 15px;
    }
    input {
        width : 70%;
        height: 40px;
        margin: 10px 0;
        border: 0;
        cursor: text;
        padding: 0 15px 0;
        border-radius: 5px;
        box-shadow: -1px 0px 8px 0px #948888;
        
    }
}
